h3 {
  font-family: "Righteous", cursive;
}

.subtitle {
  font-family: "Concert One", cursive;
}
.footer-container {
  position: relative;
  background: #040a0f;
  height: auto;
  width: 100%;
  bottom: 0px;
  font-family: "Open Sans";
  color: rgb(255, 255, 255);
  z-index: 1;
  cursor: default;
}

.footer-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}
.footer-content h3 {
  font-size: 1.8rem;
  font-weight: 400;
  text-transform: capitalize;
  line-height: 3rem;
}
.footer-content p {
  margin: 2px auto;
  line-height: 28px;
  font-size: 1rem;
}
.footer-bottom {
  background: #040a0f;
  width: 100%;
  padding: 5px 0;
  text-align: center;
}
.footer-bottom span {
  color: rgb(6, 201, 250);
  text-transform: uppercase;
  font-weight: 200;
  -webkit-text-stroke-width: 0.7px;
  -webkit-text-stroke-color: rgb(19, 19, 19);
  font-family: "Concert One", cursive;
}

.p--copyright {
  font-weight: bold;
  text-shadow: 1px 1px 14px #ffffff73;
  font-weight: 200;
  font-family: "Amaranth", sans-serif;
}
